* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, .navbar {
    font-family: 'Inter', sans-serif;
}

body, p {
    font-family: 'Source Sans 3', sans-serif;
}
body {
    background-color: #171923;
    color: white;
}
@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        max-width: 100vw;
    }
}